.areaColoridaVermelha {
  background-color: red;
  width: 30%;
  height: 50px;
  margin: 20px auto;
}

.areaColoridaAzul {
  background-color: blue;
  width: 30%;
  height: 50px;
  margin: 20px auto;
}

.botao {
  padding: 10px;
  font-weight: bold;
}
